app:
  name: go-web-demo

server:
  port: 28080
  context_path: /

db:
  primary: test
  datasource:
    test:
      drive_name: mysql
      url: root:123456@tcp(localhost:3306)/test?interpolateParams=False&charset=utf8mb4
      max_idle: 5
      max_open: 10
      show_sql: true

redis:
  single:
    primary: test
    source:
      test:
        addr: localhost:6379
        password:
        pool_size: 10

mongo:
  primary: test
  source:
    test:
      addr: mongodb://localhost:27017
      max_pool_size: 10
      min_pool_size: 1
      show_cmd: false

kafka:
  brokers: localhost:9092
  consumer:
    -
      topic: test
      group_id: test_group

logging:
  enabled: true
  path: /tmp/log
  stdout: true
  access: true
  root:
    file_name: info.log
    max_size: 1
    max_age: 1
    max_backups: 3
    compress: false
    level: debug
